{% extends 'base.html' %}
{% block title %}Listify | Register{% endblock %} <!-- Override the <title> in the head of base.html-->
{% load static %}

{% block content %}

    <link rel="stylesheet" href="{% static 'styles/signup.css' %}">

    <div class="signup-header-container">
        <h2>Welcome!</h2>
        <h4>In order for you to get started, please take a moment to create an account.</h4>
        <p>Already have an account? <a href="{% url 'user_login' %}">Log in!</a></p>
    </div>

    <!-- Display Bootstrap messages using {{ message.tags }} as defined in settings-->
    {% if messages %}
        {% for message in messages %}
            <div class="alert {{ message.tags }} custom-alert show" role="alert" data-timeout="60000">
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                {{ message | safe }}
            </div>
        {% endfor %}
    {% endif %}

<div id="signup-form-container">
    <form method="POST">
        {% csrf_token %}
        <div class="form-group custom-form-group">
            <label for="first_name">First Name</label>
            <input type="text" class="form-control" id="first_name" name="first_name" placeholder="Enter your first name" value="{{ request.POST.first_name }}" autocomplete="off">
        </div>

        <div class="form-group">
            <label for="last_name">Last Name</label>
            <input type="text" class="form-control" id="last_name" name="last_name" placeholder="Enter your last name" value="{{ request.POST.last_name }}" autocomplete="off">
        </div>

        <div class="form-group">
            <label for="email">Email address</label>
            <input type="email" class="form-control" id="email" name="email" placeholder="Enter email" value="{{ request.POST.email }}" autocomplete="off" required>
            <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
        </div>

        <div class="form-group">
            <label for="password1">Password</label>
            <input type="password" class="form-control" id="password1" name="password1" placeholder="Password" autocomplete="off" required>
            <small id="passwordRequirements" class="form-text text-muted">
                <ul>
                    <li>Your password can't be too similar to your other personal information.</li>
                    <li>Your password must contain at least 8 characters.</li>
                    <li>Your password can't be a commonly used password.</li>
                    <li>Your password can't be entirely numeric.</li>
                </ul>
            </small>
        </div>

        <div class="form-group">
            <label for="password2">Confirm Password</label>
            <input type="password" class="form-control" id="password2" name="password2" placeholder="Confirm password" autocomplete="off" required>
        </div>

        <div class="login-actions-container">
            <button type="submit" class="btn btn-primary" id="login-button">Create Account</button>
        </div>
    </form>
</div>

{% endblock %}
    